@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0E3B43;
}

.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.filtre {
	width: 100vw;
	height: 10vh;
	color: #EEE1B3;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

label {
	padding-right: 20px;
	padding-left:1em;
}

.textFiltre {
	padding-left: 20px;
}

.bouteFiltre {
	box-shadow: inset 0px 1px 0px 0px #EEE1B3;
	background: linear-gradient(to bottom, #EEE1B3 5%, #EEE1B3 100%);
	background-color: #EEE1B3;
	border-radius: 6px;
	border: 1px solid #0E3B43;
	display: inline-block;
	cursor: pointer;
	color: #0E3B43;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}

.inscrireCo:hover {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
}

.inscrireCo:active {
	position: relative;
	top: 1px;
}

.articles {
	width: 100vw;
	display: flex;
}

.flex-container {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.unArticle {
	background-color:#EEE1B3;
	color:#813405;
	width:22vw;
	height: 25vh;
	display:flex;
	flex-direction:column;
 	justify-content:space-around;
	align-items:center;
	border-radius:3%;
	font-size:1.3em;
	margin-bottom:10px;
}
.bouteboute{ 
	box-shadow:inset 0px 1px 0px 0px #0E3B43; 
	background:linear-gradient(to bottom, #0E3B43 5%, #0E3B43 100%); 
	background-color:#0E3B43; border-radius:6px; 
	border:1px solid #0E3B43; display:inline-block; 
	cursor:pointer; 
	color:#EEE1B3; 
	font-family:Arial; 
	font-size:13px; 
	font-weight:bold; 
	padding:6px 24px; 
	text-decoration:none; 
	text-shadow:0px 1px 0px #ffee66; 
	}
	.inscrireCo:hover { background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%); 
	background-color:#ffab23; } 
	.inscrireCo:active { position:relative; top:1px; }

.rechercheSpe{
	display:flex;
	color:#EEE1B3;
	font-size:1.3em;
	width:40%;
	height:15vh;
}
.mesachats{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:50%;
	height:100%;
}
.mesventes{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:50%;
	height:100%;
}
label{
	display:flex;
	flex-direction:row-reverse;
}
input[type="radio"], input[type="checkbox"]{
	margin-right:10px;
}
input[type="checkbox"]{
	margin-left:20px;
}
	
@media (max-width: 800px){
	.unArticle{
		width:90vw;
	}
	.rechercheSpe{
		width:70vw;
		font-size:1em;
	}
	.filtre {
	max-width: 85vw;
	height: 10vh;
	font-size: 1.2em;
}
	.bouteFiltre{
	font-size:11px;
  	padding:3px 5px;
	}
	.bar{
		width:100px;
	}
}
